---
layout: contributing
title: Contributing - Open Issues
permalink: /contributing/open-issues.html
---

<div class="libraries open-issues">
  <p>
    Filter by issue labels
    <select>
      {% for label in collections.issueLabels %}
        <option value="{{ label | lower | replace(' ','-') }}">{{ label | capitalize }}</option>
      {% endfor %}
    <select>
  </p>
  <h3>Open Issues</h3>
   <ul>
    {% for key, library in libraries.open_issues %}
      <li>
        {{ key }}
        <ul class="issues-list">
        {% for issue in library %}
        {% set classes %}
        {% for label in issue.labels | sort() %}
          {{ label | lower | replace(' ', '-') }}
        {% endfor %}
        {% endset %}
        <li class="{{ classes }}"><a href="{{ issue.url }}">{{ issue.title }}</a>
            {% for label in issue.labels | sort() %}
             {% set label = label | lower | replace(' ', '-') %}
              {% if label != 'none' %}
                <span class="issue-label tag-{{ label | lower | replace(' ', '-') }}">{{label}}</span>
              {% endif %}
            {% endfor %}
        </li>
        {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>
</div>
