---
layout: layout
title: Downloads
permalink: /downloads.html
excerpt: CircuitPython supported boards.
pagination:
    data: collections.filteredBoards
    size: 5000
    alias: boardlist
---
    {# data: collections.filesInBoards #}

<div id="downloads-page">
  <h1>Downloads</h1>
  <div class="downloads-inputs">
    <div class="downloads-search">
      <label class="search-wrapper">
        <input type="text" id="search" placeholder="Search for CircuitPython boards" />
      </label>
    </div>
    <div class="downloads-filter">
      <button class="filter" title="Filter Boards"><i class="fas fa-sliders-h"
          aria-hidden="true"></i> Filters</button>
    </div>
    <div class="downloads-filter-tags">
    </div>
  </div>
  <div class="downloads-filter-content">
    <div class="filter-buttons">
      <button class="save-changes" title="Close and Save Changes"><i class="fas fa-times" aria-hidden="true"></i></button>
    </div>
    <div>
      <div class="manufacturers">
        <fieldset>
          <legend>Manufacturers</legend>
          <ul class="content"></ul>
        </fieldset>
      </div>
      <div>
        <div class="features">
          <fieldset>
            <legend>Features</legend>
            <ul class="content"></ul>
          </fieldset>
        </div>
        <div class="mcufamilies">
          <fieldset>
            <legend>Processor family</legend>
            <ul class="content"></ul>
          </fieldset>
        </div>
      </div>
      <div class="sort-by">
        <fieldset>
          <legend>Sort By</legend>
          <ul class="content">
            <li><input type="radio" name="sort-by" value="downloads" aria-label="Downloads" id="sortby-downloads" checked><label for="sortby-downloads">Downloads</label></li>
            <li><input type="radio" name="sort-by" value="alpha-asc" aria-label="Board Name (A to Z)" id="sortby-alpha-asc" ><label for="sortby-alpha-asc">Board Name (A to Z)</label></li>
            <li><input type="radio" name="sort-by" value="alpha-desc" aria-label="Board Name (Z to A)" id="sortby-alpha-desc"><label for="sortby-alpha-desc">Board Name (Z to A)</label></li>
            <li><input type="radio" name="sort-by" value="date-desc" aria-label="Date Added (Newest First)" id="sortby-date-desc"><label for="sortby-date-desc">Date Added (Newest First)</label></li>
            <li><input type="radio" name="sort-by" value="date-asc" aria-label="Date Added (Oldest First)" id="sortby-date-asc"><label for="sortby-date-asc">Date Added (Oldest First)</label></li>
          </ul>
        </fieldset>
      </div>
    </div>
  </div>
  
  {# {% set myCollection = collections.boardsInFiles %} #}
  {# {% set myCollection = collections.filesInBoards %} #}
  <div class="download-count">
    Displaying <span id="board_count">{{ boardlist | length }}</span> boards.
  </div>
  <div class="downloads-section">
    {%- for board in boardlist | sortByDownloads -%}
      <div class="download" data-id="{{ board.info.id }}"
                            data-name="{{ board.data.name | default(board.id, true) }}"
                            data-downloads="{{ board.info.downloads | default("0", true) }}"
                            data-manufacturer="{{ board.data.manufacturer | default("Unknown", true) }}"
                            data-mcufamily="{{ board.data.family }}"
                            data-features="{{ board.data.features }}"
                            data-tags="{{ board.data.tags }}"
                            data-modules="{{ board.info.versions[0].modules | default(board.versions[0].modules, true) }}"
                            data-date="{{ board.data.date_added }}">
        <a href="/board/{{ board.data.board_id | default(board.id, true) | slugify }}">
          <div>
            <div class="img-responsive-4by3">
              <img srcset="/assets/images/boards/small/{{board.data.board_image | default("unknown.jpg", true) }} 300w,
                /assets/images/boards/large/{{ board.data.board_image | default("unknown.jpg", true) }} 700w"
                sizes="(max-width: 1024px) 700px, 300px"
                src="/assets/images/boards/small/{{ board.data.board_image | default("unknown.jpg", true) }}" alt="{{board.data.name | default(board.id ,true) }}" loading="lazy" />
            </div>
            <div class="details">
              <h3>{{ board.data.name | default(board.id, true)}}</h3>
              <strong>By</strong> {{ board.data.manufacturer| default("Unknown", true) }}
              {% if board.data.downloads_display %}<br><strong>downloads:</strong> {{ board.info.downloads | default("0", true) }} {% endif %}
            </div>
          </div>
        </a>
      </div>
    {% endfor %}

      
      
  </div>
</div>

<script src="/assets/javascript/downloads.js"></script>
