---
permalink: /feed.rss
eleventyExcludeFromCollections: true
date: Last Modified
description: "The easiest way to program microcontrollers"
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>{{ site.title }}</title>
    <link>{{ site.url }}</link>
    <lastBuildDate>{{ page.date | dateToRfc822 }}</lastBuildDate>
    <description>{{ site.feed_description }}</description>
    <language>{{ site.language }}</language>
    {%- for post in collections.board | reverse %}
    {%- set absolutePostUrl = post.url | absoluteUrl(site.url) %}
    <item>
      <title>{{ post.data.name }}</title>
      <link>{{ absolutePostUrl }}</link>
      <description><![CDATA[
        {{ post.templateContent | safe }}
      ]]></description>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      <guid>{{ absolutePostUrl }}</guid>
    </item>
    {%- endfor %}
  </channel>
</rss>