---
permalink: /feed.rss
eleventyExcludeFromCollections: true
date: Last Modified
metadata:
    title: "CircuitPython.org"
    url: "https://circuitpython.org/"
    language: "en"
    description: "A list of CircuitPython and Blinka supported boards"
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>{{ metadata.title }}</title>
    <link>{{ metadata.url }}</link>
    <lastBuildDate>{{ page.date | dateToRfc822 }}</lastBuildDate>
    <description>{{ metadata.description }}</description>
    <language>{{ metadata.language }}</language>
    {%- for post in collections.board | reverse %}
    {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
    <item>
      <title>{{ post.data.name }}</title>
      <link>{{ absolutePostUrl }}</link>
      <description><![CDATA[
        {{ post.templateContent | safe }}
      ]]></description>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      <guid>{{ absolutePostUrl }}</guid>
    </item>
    {%- endfor %}
  </channel>
</rss>